@model ProjetoSushiTime.Entidades.Cliente

@{
    ViewData["Title"] = "Create";
}

<style>
    .main-text
    {
        font-weight: 600;
        font-family: League Spartan;
        color: #F63C3C;
        text-align: center;
    }
    .bloco-cadastro
    {
        margin: 20px auto;
    }
</style>

<h1 class="main-text">Cadastre-se e faça login para realizar pedidos</h1>

<form asp-action="Create">
    <div class="row" style="display: flex; flex-direction: row; width: 60%; margin: auto;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="bloco-cadastro">
            <h4>Informações de Login</h4>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label">Nome de Usuário</label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>
        <div class="bloco-cadastro">
            <h4>Informações de Entrega</h4>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logradouro" class="control-label"></label>
                <input asp-for="Logradouro" class="form-control" />
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCasa" class="control-label">Número</label>
                <input asp-for="NumeroCasa" class="form-control" />
                <span asp-validation-for="NumeroCasa" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <a class="btn btn-danger" style="background-color: #F63C3C;" asp-controller="Home" asp-action="Index">Cancelar</a>
        <input type="submit" style="background-color: #4CAF50;" value="Confirmar" class="btn btn-success" />
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
