<h1>Faça seu Login</h1>

@if(TempData != null)
            {
                <div class="alert alert-danger">
                    @TempData["erro"]
                </div>
            }

<form action="Login" method="post">
    <label>Nome: </label>
    <input type="text" name="nome" />
    <br>
    <label>Senha: </label>
    <input type ="password" name="senha" />
    <br>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

