<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoSushiTime</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .botao-outline {
            background-color: white;
            color: #F63C3C;
            border-radius: 5px;
            border: 2px solid #F63C3C;
            padding: 7px 15px;
        }

        .botao-outline:hover {
            background-color: #FF2929;
            color: white;
            border-radius: 5px;
        }

        .botao {
            background-color: #F63C3C;
            color: white;
            border-radius: 5px;
            padding: 8px 16px;
        }

        .botao:hover {
            background-color: #FF2929;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4" style="max-height: 150px;">
            
            <div class="container-fluid p-3 my-3">
                
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="margin-right: 50px;"><img src="~/imagens/logo_sushi-timev3.png" style="width:125px;" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                        <ul class="navbar-nav flex-grow-1 ml-auto" style="font-family: League Spartan; font-size: 1.5rem">
                            @if (User.IsInRole("Logado") && User.IsInRole("Atendente"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Gerenciar Produtos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Index">Gerenciar Pedidos</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Cardápio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                                </li>
                            }
                            
                        </ul>
                        @if(User.IsInRole("Logado") && User.IsInRole("Atendente"))
                        {
                            <ul class="navbar-nav flex-grow-1 ml-5" style="padding:5px; display: flex; align-items: center; justify-content: space-between">
                                <li class="nav-item ml-auto">
                                    <h5 style="font-family: League Spartan; color: #F63C3C">
                                        Logado como Atendente
                                    </h5>
                                </li>
                                <li class="nav-item">
                                    <a class="btn botao-outline ml-4" style="font-family: League Spartan;" asp-area="" asp-controller="Login" asp-action="Logoff">
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        }
                        else if (User.IsInRole("Logado") && User.IsInRole("Cliente"))
                        {
                            <ul class="navbar-nav flex-grow-1 ml-5" style="padding:5px; display: flex; align-items: center; justify-content: space-between">
                                <li class="nav-item ml-auto">
                                    <h5 style="font-family: League Spartan; color: #F63C3C">
                                        Logado como Cliente
                                    </h5>
                                </li>
                                <li class="nav-item">
                                    <a class="btn botao-outline ml-4" style="font-family: League Spartan;" asp-area="" asp-controller="Login" asp-action="Logoff">
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav flex-grow-1 ml-5 " style="padding:5px; display: flex; align-items: center">
                                <li class="nav-item ml-auto">
                                    <a class="btn btn-outline botao-outline ml-4" style="font-family: League Spartan;" asp-area="" asp-controller="Clientes" asp-action="Create">Cadastrar-se</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn botao ml-4" style="font-family: League Spartan;" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="ml-5" asp-area="" asp-controller="" asp-action=""><img src="~/imagens/carrinho1.png" style="width: 23px; top: 50%; left: 50%; transform: translate(-25%, 10%); border-radius:0"></a>
                                </li>
                            </ul>
                        }
                    </div>
                
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 - ProjetoSushiTime - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
